# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.log

# Virtualenv
venv/
env/
ENV/
.venv/
.ENV/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.pot

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Migrations (optionnel si tu veux les recréer)
*/migrations/__pycache__/
*/migrations/*.pyc
# Décommente la ligne suivante si tu veux ignorer tous les fichiers de migration :
# */migrations/*.py

# Git
*.orig


# QrCode
*.png
*.jpg
qrcodes/*